<!-- <nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    Alex Alves da Silva - Desenvolvedor web (página em construção)
  </span>
</nav> -->
<div>
  <div>
    <div >
      <div>
        <header>
          <h3>     
            Alex Alves - Desenvolvedor
          </h3>  
        </header>
      </div>
    </div>
  </div>
</div>
    <div class="projects">
      <div class="projectsContent">
        <h4>     
          Site desenvolvido utilizando Angular com o objetivo de
          ilustrar conhecimentos sobre desenvolvimento web (páginas em construção).
        </h4>  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary" (click)="openModal()">
          Projetos
        </button>
      </div>
    </div>
    <div class="card-footer text-muted">
      E-mail: AlxAlvsContato@gmail.com
    </div>
    <app-modal [display]="callModal"></app-modal>
  
