/* You can add global styles to this file, and also import other style files */
@import'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

html{
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header{
    box-sizing: border-box;
    width: 80%;
    min-height: 50vw;
    padding: 15vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header h3 {
    margin-top: 6%;
    color: white;
    margin-left: 25%;
    margin-right: 1%;
}

header, header:before{
    background: 50% 50% / cover;
}

header::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top:0;
    display: block;
    background: url('images/officeDesk.jpg')no-repeat; 
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

.modal-footer{
    border-top: 0 none;
}

.projects{
    height: 85vh;
    width: 100%;
    text-align: center;   
    background-color: #2d3436;
    color: white;
    padding-bottom: 20%; 
}

.projectsContent{
    width: 80%;
    display: block;
    margin-left: 10%;           
    padding-top: 15%; 
    padding-bottom: 10%;       
}

.modal-body a{
    display: inline-block;
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

#description::after {
    content: attr(data-content);
    text-align: center;
}

#description {
    width: 70%;
    margin-left: 20%
}

#imageDiv{
    display: inline-block;
    height: 40vh;
    width: 100%;
    padding: 0 0 0 0 ;
    box-shadow: 2px 2px 4px #888888;
}

.backgroundImage{
   
    background-size:cover;
}

/* h5{
    margin-top: 30vh;
    color: white;
    width: 65%;
    margin-right: 05%;
    margin-left: 30%;
} */

.card-footer{
    text-align: center;
}

.pagination{
    position: absolute;
    top: 85%;
    width: 30%;
    text-align: center;
    transform: translateY(-50%);
    margin-left: 35%;
    margin-right: 35%;
}

.pagination a{
    margin: 6px 1px;
    display: inline-block;
    width: 30px;
    background: #485460;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
    position: relative;
    padding-right: 12px;
}

.prev,.next{
    padding-right: 12px !important;
    font-size: 20px;
}

.pagination a:hover{
    color: #ffd32a
}

.active{
    color: #ffd32a !important;
}

.prev{
    border-radius: 15px 0 0 15px;
    padding-left: 5px;
}

.next{
    border-radius: 0 15px 15px 0;
}

.pagination a::before,.pagination a:after {
    content:"";
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.num::before,.next::before{
    border-right: 10px solid #485460;
    right: 100%;
}

.num::after,.prev:after{
    border-right: 10px solid #f1f1f1;
    right: 0;
}

